set_name='collabora'

#### LibreOffice parameters ###
lo_src_branch='distro/collabora/co-26.04'
lo_dir="/opt/libreoffice"
lo_forcebuild=false
lo_non_free_ttf=true

#### POCO parameters ###
poco_version="1.15.3"
poco_forcebuild=false

#### LibreOffice Online parameters ###
cool_src_repo='https://github.com/CollaboraOnline/online.mirror.git'
cool_src_tag='cp-26.04.1-4'
cool_dir="/opt/cool"

### coolwsd ###
cool_configure_opts="--disable-werror"
cool_logfile='/var/log/coolwsd.log'
cool_prefix='/usr'
cool_sysconfdir='/etc'
cool_localstatedir='/var'
cool_forcebuild=true
cool_maxcon=200
cool_maxdoc=100
coolwsd_service_name='coolwsd'
